body{
	background: #eee;
}

.wrap{
	margin-top: 50px;
}

.wrap > .container {
    padding: 20px 0px 0px;
}

.main-content{
	margin-top: 70px;
}

#direct-title h3{
	margin: 0 0 10px 0;
	padding-left: 15px;
	padding-right: 15px;
}

/*tr.active..table-desc {
	height: 300px;
}*/

.discipline-content{
	margin-top:0px;
}

.discipline-h {
	margin: 0px;
	line-height: 0;
}

table.discipline-table th, tr {
	text-align: center;
}

table.discipline-comp > tbody > tr {
	text-align: left;
}

table.discipline-section > thead > tr {
  text-align: center;
}

table.section-table > tr, th {
  text-align: center;
  vertical-align: middle !important;

}

table.total-table > tr {
  text-align: center;
}

table.total-table{
  margin-top: 10px;
}

table.assessment{
  margin-bottom: 10px;
}

.form-comp, .all-form{
	margin-left: 15px;
}

.certification-panel{
  padding: 10px;
}

.navbar-inverse .navbar-text.login-h{
  color: #ded7d7;
}

.section-t{
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.section-t td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#toast-success {
  display: none;
/*  visibility: hidden; */
/*  min-width: 250px; 
  width: 400px; 
  height: 50px;
  background-color: #5cb85c;
  color: #fff; 
  text-align: center; 
  border-radius: 2px; 
  padding: 10px; 
  position: fixed;
  z-index: 1;
  left: 50%; 
  top: 50%; 
  margin-left: -210px; */

}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast-success.show {
  display: block;
 /* visibility: visible;*/
/*
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
  animation: fadein 0.5s, fadeout 0.5s 1s;*/

}

/*@-webkit-keyframes fadein {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {opacity: 1;} 
  to {opacity: 0;}
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}*/

#test-form, #task-form, #checkboxPractices, #checkboxLabs, .hide-input-time-lab, .hide-input-time-practice, #hide-error, .hide-input-time, .classroom-create-hide{
  display: none;
}

#test-form.show, #task-form.show, #checkboxLabs.show, #checkboxPractices.show, .hide-input-time-lab.show, .hide-input-time-practice.show, #hide-error.show, .classroom-create-hide.show{
  display: block;
}

#hide-error.show{
  color: red;
}

#program-success, #program-error{
  display: none;
}

#program-success.show, #program-error.show{
  display: block;
}

#program-success{
  color:green;
}

#program-error{
  color:red;
}

.control-content{
  margin-top:30px;
}

.selectedCourse{
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #1d4356;
}

.caf-name, .direct-name{
  margin-top: 0;
}

.btn-space{
  margin-right: 5px;
}

.table.disciplines-view{
  background: #fff;
}

span.glyphicon.glyphicon-cloud-download.disabled, span.glyphicon.glyphicon-cloud-upload.disabled{

color: #9e9e9e !important;/* цвет текста серый */
}

/*.glyphicon.glyphicon-cloud-download:hover{
  color: #11850d !important;
}*/

a.disabled-upload, a.disabled-download{
  pointer-events: none; /* делаем элемент неактивным для взаимодействия */
  cursor: default; /*  курсор в виде стрелки */

}
.glyphicon.glyphicon-cloud-upload.active{
  color: #11850d !important;
  cursor: pointer;
}

.glyphicon.glyphicon-cloud-download.active{
  color: #11850d !important;
  cursor: pointer;
}

.glyphicon.glyphicon-cloud-download.active:hover{
  color: #0c6e0a !important;
  cursor: pointer;
} 

.glyphicon.glyphicon-cloud-upload.active:hover{
  color: #0c6e0a !important;
  cursor: pointer;
} 

.glyphicon.glyphicon-pencil:hover{
  color: #11850d !important;
}